/* BUTTONS */
.buttons {
  margin: 7px 3px;
}

.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

.buttons a, .buttons button{
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color:#f5f5f5;
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;

  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size:100%;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
  padding: 5px 10px 6px 7px; /* Links */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.buttons button{
  width:auto;
  overflow:visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type]{
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button[type]{
  padding:4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img{
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

/* STANDARD */
button:hover, .buttons a:hover{
  background-color:#dff4ff;
  border:1px solid #c2e1ef;
  color:#336699;
}

.buttons a:active{
  background-color:#6299c5;
  border:1px solid #6299c5;
  color:#fff;
}

/* POSITIVE */
button.positive, .buttons a.positive{
  color:#529214;
}

.buttons a.positive:hover, button.positive:hover{
  background-color:#E6EFC2;
  border:1px solid #C6D880;
  color:#529214;
}

.buttons a.positive:active{
  background-color:#529214;
  border:1px solid #529214;
  color:#fff;
}

/* NEGATIVE */
.buttons a.negative, button.negative{
  color:#d12f19;
}

.buttons a.negative:hover, button.negative:hover{
  background:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}

.buttons a.negative:active{
  background-color:#d12f19;
  border:1px solid #d12f19;
  color:#fff;
}

/*__________________________________________________________________________ # I_BUTTONS
*/
.i_buttons {
  display: block;
}

.i_buttons a {
  color: #3a9bfd;
  padding: 3px 19px 5px 35px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  cursor: pointer;
}

.i_buttons a:hover {
  opacity: .7;
}

.i_buttons a.save {
  color: #6b9a05;
  background: #d3e6cf url('/images/icons/tick.png') no-repeat 10px 55%;
}

.i_buttons a.cancel {
  color: darkslategray;
  background: #e9e9e9 url('/images/icons/cross.png') no-repeat 10px 55%;
}

.i_buttons a.delete {
  color: #c53b2d;
  background: #ffe5e5 url('/images/icons/delete.png') no-repeat 10px 55%;
}

.i_buttons a.add {
  color: #6b9a05;
  background: #ececec url('/images/icons/add.png') no-repeat 10px 55%;
}

.i_buttons a.arrow_left {
  color: #6b9a05;
  background: #ececec url('/images/icons/arrow_left.png') no-repeat 10px 55%;
}

.i_buttons a.page_edit {
  color: #6b9a05;
  background: #ececec url('/images/icons/page_edit.png') no-repeat 10px 55%;
}
.i_buttons a.page_add {
  color: #6b9a05;
  background: #ececec url('/images/icons/page_add.png') no-repeat 10px 55%;
}

.i_buttons a.cross_white {
  color: #27f;
  background: #ececec url('/images/icons/cross-white.png') no-repeat 10px 55%;
}
