.qtable {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 3px solid #fff;
  font-size: 14px;
}

.qtable tr {}

.qtable tr.blue {
  background-color: #eef;
}

.qtable tr.white {
  background-color: #fff;
}

.qtable tr td, .qtable tr th {
  border: 1px solid #fff;
  padding: 5px 6px;
  text-align: left;
}

.qtable tr td:first-child, .qtable tr th:first-child {
  text-align: center;
}

.qtable tr th {
  background-color: #e9e9e9;
  color: #222;
}
