/*___________________________________________________________ # Subsection Tabs
*/
ul.sub_tabs {
  list-style: none;
  margin: 9px 0 5px 10px !important;
  padding: 0;
  clear: both;
  
}

ul.sub_tabs li.tab {
  float: left;
  margin-right: 3px;
  text-align: center;
}

ul.sub_tabs li.tab a {
  display: block;
  height: 20px;
  padding: 5px 20px 0 20px;
  background-color: #c0d7f8;
  color: blue;
}

ul.sub_tabs li.tab a:hover {
  color: #27c;
  background-color: #dae4f9;
}

ul.sub_tabs li.tab a.active {
  background-color: #3A9BFD;
  color: #fff;
  text-decoration: underline;
}
