- @extra_stylesheet = ['admin/buttons', 'admin/forms']
- @bradcrumb_afters = content_tag(:span, 'New Category', :style => 'color: forestgreen')

- form_for @category, :url => admin_categories_path, :html => { :autocomplete => :off, :class => :qform } do |f|
  = render :partial => 'form', :locals => { :f => f }

%hr
.i_buttons{ :style => 'margin-top: 15px;' }
  = link_to 'go back', admin_categories_path, :class => :arrow_left
